flows 1.json
[
    {
        "id": "1e0538742c71f226",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d762a9a1afa69922",
        "type": "ui_gauge",
        "z": "1e0538742c71f226",
        "name": "",
        "group": "9c15855d39a9653c",
        "order": 0,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "Degrees Celsius",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "52c2b5bda3d274e3",
        "type": "ui_gauge",
        "z": "1e0538742c71f226",
        "name": "",
        "group": "8c0b1613d9911dc2",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "%rh",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffa500",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "50",
        "seg2": "90",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "fd4ff885fb80466b",
        "type": "ui_gauge",
        "z": "1e0538742c71f226",
        "name": "",
        "group": "73178411bb42b750",
        "order": 2,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffa500",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "60",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "c69c63cfcc6f6af7",
        "type": "ui_gauge",
        "z": "1e0538742c71f226",
        "name": "",
        "group": "18370f8b404fc13d",
        "order": 3,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "cm",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffa500",
            "#00ff00"
        ],
        "seg1": "60",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "3757e3f7a0302945",
        "type": "firebase.on",
        "z": "1e0538742c71f226",
        "name": "",
        "firebaseconfig": "",
        "childpath": "temperature",
        "atStart": false,
        "eventType": "child_added",
        "queries": [],
        "x": 410,
        "y": 60,
        "wires": [
            [
                "d762a9a1afa69922",
                "eb1e8750dddd9b8b"
            ]
        ]
    },
    {
        "id": "2a9784b38bd5ad0b",
        "type": "firebase.on",
        "z": "1e0538742c71f226",
        "name": "",
        "firebaseconfig": "",
        "childpath": "humidity",
        "atStart": true,
        "eventType": "child_added",
        "queries": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "52c2b5bda3d274e3",
                "59b5ab597501c95d"
            ]
        ]
    },
    {
        "id": "d13c19bbd22649bf",
        "type": "firebase.on",
        "z": "1e0538742c71f226",
        "name": "",
        "firebaseconfig": "",
        "childpath": "moisture",
        "atStart": true,
        "eventType": "child_added",
        "queries": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "fd4ff885fb80466b",
                "25f38ef955262858"
            ]
        ]
    },
    {
        "id": "0bb37380658ef431",
        "type": "firebase.on",
        "z": "1e0538742c71f226",
        "name": "",
        "firebaseconfig": "",
        "childpath": "percentFull",
        "atStart": true,
        "eventType": "child_added",
        "queries": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "c69c63cfcc6f6af7",
                "10e150f6e21b0a20"
            ]
        ]
    },
    {
        "id": "10e150f6e21b0a20",
        "type": "debug",
        "z": "1e0538742c71f226",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "25f38ef955262858",
        "type": "debug",
        "z": "1e0538742c71f226",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "eb1e8750dddd9b8b",
        "type": "debug",
        "z": "1e0538742c71f226",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 20,
        "wires": []
    },
    {
        "id": "59b5ab597501c95d",
        "type": "debug",
        "z": "1e0538742c71f226",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "a7fc3fe33b66e9ae",
        "type": "firebase.on",
        "z": "1e0538742c71f226",
        "name": "",
        "firebaseconfig": "",
        "childpath": "irrigationRelay",
        "atStart": false,
        "eventType": "child_added",
        "queries": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "99429e63ece72a34",
                "139bb2da392a3c79"
            ]
        ]
    },
    {
        "id": "99429e63ece72a34",
        "type": "debug",
        "z": "1e0538742c71f226",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 520,
        "wires": []
    },
    {
        "id": "139bb2da392a3c79",
        "type": "ui_switch",
        "z": "1e0538742c71f226",
        "name": "",
        "label": "State",
        "tooltip": "",
        "group": "9b70e18fb27a3edd",
        "order": 1,
        "width": "4",
        "height": "3",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b827ea8c6e455d15",
        "type": "firebase.on",
        "z": "1e0538742c71f226",
        "name": "",
        "firebaseconfig": "",
        "childpath": "tankRelay",
        "atStart": false,
        "eventType": "child_added",
        "queries": [],
        "x": 340,
        "y": 720,
        "wires": [
            [
                "0ffc944bda16c4f0",
                "09c3faa29b32bc14"
            ]
        ]
    },
    {
        "id": "0ffc944bda16c4f0",
        "type": "debug",
        "z": "1e0538742c71f226",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 700,
        "wires": []
    },
    {
        "id": "09c3faa29b32bc14",
        "type": "ui_switch",
        "z": "1e0538742c71f226",
        "name": "",
        "label": "State",
        "tooltip": "",
        "group": "492de237899e9125",
        "order": 1,
        "width": "4",
        "height": "3",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "f4f6a0394ec2cbf1",
        "type": "http request",
        "z": "1e0538742c71f226",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://dht11-2f7c5-default-rtdb.firebaseio.com/upperMoisture.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d60f094586424807",
        "type": "ui_numeric",
        "z": "1e0538742c71f226",
        "name": "",
        "label": "Upper Moisture",
        "tooltip": "",
        "group": "140f7d1e42dae86a",
        "order": 0,
        "width": "4",
        "height": "3",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 880,
        "wires": [
            [
                "f4f6a0394ec2cbf1"
            ]
        ]
    },
    {
        "id": "aca4d25673b14d5c",
        "type": "http request",
        "z": "1e0538742c71f226",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://dht11-2f7c5-default-rtdb.firebaseio.com/lowerMoisture.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "c3dd4e81e81a83bf",
        "type": "ui_numeric",
        "z": "1e0538742c71f226",
        "name": "",
        "label": "Lower Moisture",
        "tooltip": "",
        "group": "140f7d1e42dae86a",
        "order": 0,
        "width": "4",
        "height": "3",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "aca4d25673b14d5c"
            ]
        ]
    },
    {
        "id": "d5a045a61369b7f1",
        "type": "http request",
        "z": "1e0538742c71f226",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://dht11-2f7c5-default-rtdb.firebaseio.com/upperWaterLevel.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "6ea0a17f54d4e60a",
        "type": "ui_numeric",
        "z": "1e0538742c71f226",
        "name": "",
        "label": "Upper Water Level",
        "tooltip": "",
        "group": "0c91e043c08e3219",
        "order": 0,
        "width": "4",
        "height": "3",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "d5a045a61369b7f1"
            ]
        ]
    },
    {
        "id": "dfd22b726c98b00a",
        "type": "http request",
        "z": "1e0538742c71f226",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://dht11-2f7c5-default-rtdb.firebaseio.com/lowerWaterLevel.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "8c8ac78d6ebc906d",
        "type": "ui_numeric",
        "z": "1e0538742c71f226",
        "name": "",
        "label": "Lower Water Level",
        "tooltip": "",
        "group": "0c91e043c08e3219",
        "order": 0,
        "width": "4",
        "height": "3",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "dfd22b726c98b00a"
            ]
        ]
    },
    {
        "id": "9c15855d39a9653c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "9afc6f20f4467524",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c0b1613d9911dc2",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "9afc6f20f4467524",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "73178411bb42b750",
        "type": "ui_group",
        "name": "Soil Moisture",
        "tab": "9afc6f20f4467524",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18370f8b404fc13d",
        "type": "ui_group",
        "name": "Tank Water Level",
        "tab": "9afc6f20f4467524",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b70e18fb27a3edd",
        "type": "ui_group",
        "name": "Irrigation Pump",
        "tab": "9afc6f20f4467524",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "492de237899e9125",
        "type": "ui_group",
        "name": "Tank Pump",
        "tab": "9afc6f20f4467524",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "140f7d1e42dae86a",
        "type": "ui_group",
        "name": "Moisture Threshold",
        "tab": "9afc6f20f4467524",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c91e043c08e3219",
        "type": "ui_group",
        "name": "Water Level Threshold",
        "tab": "9afc6f20f4467524",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9afc6f20f4467524",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]